* {
  text-align: center;
}
.blanchedalmond {
  background-color: BlanchedAlmond;
}

.red {
  background-color: #ff0000;
}

.green {
  background-color: #00ff00;
}

.blue {
  background-color: #0000ff;
}
